{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;  
    margin: 10px; 
    color: #333;
}
header {
    background-color: #333;
    color: white;
    padding: 250px;
    text-align: center;
    background-size: auto;
}
#nav_menu ul {
    list-style-type: none;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {  
    text-align: auto;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color:white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.lastitem{
    border-right:none;
}
#nav_menu ul li a.current {    
     color: yellow;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
}

.container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.left-column {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bike-image {
    width: 500px; /* Adjust as needed */
      height: 400px; /* Adjust as needed */
      border-radius: 20px; /* Adjust for roundness */
      border: 3px solid blue; /* Blue border */
      object-fit: cover; /* Ensures image covers the area */
}
.image-container img {
      width: 490px; /* Adjust size as needed */
      height: 390px;
      transition: opacity 0.3s ease;
      border-radius: 20px; /* Adjust for roundness */
      border: 3px solid blue; /* Blue border */
      object-fit: cover;
    }

.image-container {
    width: 490px;
    height: 390px;
    overflow: hidden;
    position: relative;
}
.image-container img.hover-image {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    .image-container:hover img.hover-image {
      opacity: 1;
    }
.right-column {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
    padding: 10px; 
}

p {
    padding-left: 5px; 
    padding-right: 5px;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 10px; 
}

footer {
    color: black;
    text-align:end;
    padding: 0px;
    position:absolute;
    right: 0px;
    width: 100%;
}
